<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="rms.backend.mapper.ECIDMapper">

    <select id="getECIDList" parameterType="java.util.HashMap" resultType="java.util.HashMap">
        WITH   EQP_ECM AS
        (
            SELECT EME.RAWID, EMP.EQP_ID
            FROM   EQP_MST_ECM EME
            INNER JOIN EQP_MST_PP EMP ON  EME.MODULE_ID = EMP.MODULE_ID
                                      AND EMP.MODULE_TYPE_CD = 'M'
                                    <if test="LOCATION_RAWID not in {null,''}">
                                      AND EMP.LOCATION_RAWID = #{LOCATION_RAWID}
                                    </if>
                                    <if test="AREA_RAWID not in {null,''}">
                                      AND EMP.AREA_RAWID = #{AREA_RAWID}
                                    </if>
                                    <if test="EQP_ID not in {null,''}">
                                      AND EMP.EQP_ID = #{EQP_ID}
                                    </if>
                                      AND EMP.USED_YN = 'Y'
            WHERE  EME.USED_YN = 'Y'
        )
        SELECT EME.RAWID,
               EME.EQP_RAWID,
               EME.ECID,
               EME.NAME,
               EME.ALIAS,
               EME.MANAGE_YN,
               EME.VALUE_TYPE,
               EME.MIN_VALUE,
               EME.MAX_VALUE,
               EME.DEFAULT_VALUE,
               EME.UNIT_TYPE,
               EME.UNIT,
               EME.DATA_TYPE,
               EME.ENUM,
               EME.ENUM_VALUE,
               EME.SPEC_OPTION,
               EME.SPEC_UNIT,
               EME.USED_YN,
               EVE.EQP_ID
        FROM   EC_MST_ECM EME
               INNER JOIN EQP_ECM EVE ON EME.EQP_RAWID = EVE.RAWID
        WHERE 1 = 1
        ORDER BY EME.RAWID
    </select>

    <select id="getCodeList" parameterType="java.util.HashMap" resultType="java.util.HashMap">
        SELECT DISTINCT  CODE, NAME
        FROM   CODE_MST_PP
        WHERE  USE_YN = 'Y'
        AND    CATEGORY = #{CATEGORY}
        ORDER BY CODE_ORDER
    </select>

    <update id="update" parameterType="java.util.HashMap" >
        UPDATE EC_MST_ECM
        SET    LAST_UPDATE_BY   = #{LAST_UPDATE_BY},
             <if test="VALUE_TYPE not in {null,''}">
               VALUE_TYPE       = #{VALUE_TYPE},
            </if>
            <if test="UNIT_TYPE not in {null,''}">
               UNIT_TYPE        = #{UNIT_TYPE},
            </if>
             <if test="MANAGE_YN not in {null,''}">
               MANAGE_YN        = #{MANAGE_YN},
             </if>
             <if test="USED_YN not in {null,''}">
               USED_YN          = #{USED_YN},
             </if>
             <if test="ALIAS not in {null,''}">
               ALIAS            = #{ALIAS},
             </if>
             <if test="SPEC_OPTION not in {null,''}">
               SPEC_OPTION      = #{SPEC_OPTION},
             </if>
             <if test="SPEC_UNIT not in {null,''}">
               SPEC_UNIT        = #{SPEC_UNIT},
             </if>
             <if test="ENUM not in {null,''}">
               ENUM             = #{ENUM},
             </if>
             <if test="ENUM_VALUE not in {null,''}">
               ENUM_VALUE       = #{ENUM_VALUE},
             </if>
               LAST_UPDATE_DTTS = SYSDATE
        WHERE  RAWID            = #{RAWID}
    </update>

    <insert id="insert" parameterType="java.util.HashMap" >
        <selectKey keyProperty="RAWID" resultType="int" order="BEFORE">
            SELECT SEQ_EC_MST_ECM.NEXTVAL FROM DUAL
        </selectKey>
        INSERT INTO EC_MST_ECM
               (RAWID, EQP_RAWID, ECID, NAME, MANAGE_YN, VALUE_TYPE, MIN_VALUE, MAX_VALUE, DEFAULT_VALUE, UNIT,
                UNIT_TYPE, DATA_TYPE, ENUM, ENUM_VALUE, SPEC_OPTION, SPEC_UNIT, USED_YN, CREATE_BY, CREATE_DTTS, ALIAS)
        VALUES (#{RAWID}, #{EQP_RAWID}, #{ECID}, #{NAME}, #{MANAGE_YN}, #{VALUE_TYPE}, #{MIN_VALUE}, #{MAX_VALUE}, #{DEFAULT_VALUE}, #{UNIT},
                #{UNIT_TYPE}, #{DATA_TYPE}, #{ENUM}, #{ENUM_VALUE}, #{SPEC_OPTION}, #{SPEC_UNIT}, #{USED_YN}, #{CREATE_BY}, SYSDATE, #{ALIAS})
    </insert>

    <delete id="delete" parameterType="java.util.HashMap" >
        DELETE FROM EC_MST_ECM
        WHERE  RAWID = #{RAWID}
    </delete>

    <delete id="deleteECSPEC" parameterType="java.util.HashMap" >
        DELETE FROM EC_SPEC_MST_ECM
        WHERE  EQP_RAWID = #{EQP_RAWID}
        AND    EC_RAWID  = #{RAWID}
    </delete>

    <insert id="insertHst" parameterType="java.util.HashMap" >
        <selectKey keyProperty="RAWID" resultType="int" order="BEFORE">
            SELECT SEQ_EC_HST_ECM.NEXTVAL FROM DUAL
        </selectKey>
        INSERT INTO EC_HST_ECM
               (RAWID, EQP_RAWID, EC_RAWID, ACTION_TYPE, ECID, NAME, MANAGE_YN, VALUE_TYPE, MIN_VALUE, MAX_VALUE, DEFAULT_VALUE,
                UNIT, UNIT_TYPE, DATA_TYPE, ENUM, ENUM_VALUE, SPEC_OPTION, SPEC_UNIT, USED_YN, APPROVAL_RAWID, LOCATION_RAWID,
                AREA_RAWID, EQP_MODEL, EQP_ID, DESCRIPTION, CREATE_DTTS, CREATE_BY, ALIAS, OLD_VALUE)
        VALUES (#{RAWID}, #{EQP_RAWID}, #{EC_RAWID}, #{ACTION_TYPE}, #{ECID}, #{NAME}, #{MANAGE_YN}, #{VALUE_TYPE}, #{MIN_VALUE}, #{MAX_VALUE}, #{DEFAULT_VALUE},
                #{UNIT}, #{UNIT_TYPE}, #{DATA_TYPE}, #{ENUM}, #{ENUM_VALUE}, #{SPEC_OPTION}, #{SPEC_UNIT}, #{USED_YN}, #{APPROVAL_RAWID}, #{LOCATION_RAWID},
                #{AREA_RAWID}, #{EQP_MODEL}, #{EQP_ID}, #{DESCRIPTION}, SYSDATE, #{CREATE_BY}, #{ALIAS}, #{OLD_VALUE})
    </insert>


</mapper>